html {
  scroll-behavior: smooth;
}
.header {
  overflow: auto;
}
.bigTitle {
  color: rgba(255, 123, 0, 0.932);
  font-family: "Indie Flower", cursive;
}
#mainicon {
  float: left;
  padding-top: 10px;
  margin-right: 20px;
}

.hotRank {
  font-size: 20pt;
}

.pic {
  width: 300px;
}
.custom-select {
  color: rgb(68, 68, 68);
}

.card {
  border-radius: 10px;
}
.card-image {
  border-radius: 10px 10px 0px 0px;
}
i.Small.material-icons {
  position: relative;
  top: 7px;
  margin: 0px 10px 10px 0px;
  color: rgba(255, 123, 0, 0.932);
}

p.hostWords {
  text-align: justify;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .bigTitle {
    color: rgba(255, 123, 0, 0.932);
    font-family: "Indie Flower", cursive;
    padding-top: 30px;
  }
  .custom-select {
    width: 30%;
    font-size: 20pt;
    margin: 20px 10px;
    padding: 5pt;
  }
  .container {
    width: 90% !important;
  }
  .card-image {
    height: 220px !important;
    overflow: hidden;
  }
  .card-image img {
    margin-top: -3%;
  }
  .card {
    padding-bottom: 20px;
    height: 750px;
  }
}
.gototp {
  position: fixed;

  right: 2%;
  bottom: 20px;
  cursor: pointer;
  z-index: 5;
  background-color: rgba(255, 123, 0, 0.932);
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
}
.gototp i {
  margin-top: 7px;
  color: white;
}
body {
  background-color: rgb(248, 248, 225);
}

@media (max-width: 768px) {
  .info-card {
    margin-top: 20px;
  }
  .bigTitle {
    font-size: 35px;
  }
}
